
/* Sitewide styling*/

body {
overflow-y: hidden;
background: #141E30;  
background: -webkit-linear-gradient(to top, #243B55, #141E30); 
background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-attachment: fixed;
}

@font-face {
  font-family: 'MedievalSharp';
    src: url('./assets/fonts/MedievalSharp-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.playHeading{
  width:fit-content;
  margin:auto;
  font-weight:bold;
}

b{
  user-select:none;
}

.navText{
  color: white;
  font-size: 25px;
  display:flex;
  text-decoration:none;
  font-weight:bold;

}

.navImage{
  margin-right:5px;
  margin-left:5px;
  display:block;
  height: 40px;
  width: 40px;
}


.navbar {
  background: hsl(214, 40%, 20%);
  padding-left: 1%;
  height: 8vh;
  width: 100%;
  max-width: 100%;
  display:flex;
  align-items:center;
      }
@media (max-width: 768px) {
  .navbar{
    height:6vh
  }
.navText{
  font-size:15px;
}
.navImage{
  height: 20px;
  width:20px;
  margin-top:1px;
}


}

