
.play-button, .add-button{
  /*Also contains react inline styling*/
  width: 80px;
  height: 80px;
  margin-left: 20%;
  border-radius: 100%;
  border: solid;
  border-color:white;
  border-width: 1px;
}

.play-image{
  width: 30px;
  height: 30px;
}

.add-image{
  width: 65px;
  height: 65px;
}

.play-text-card{
  padding:40px;
  background-color: white;
  height: 92dvh;
  overflow-y: auto;
  border: none;
  border-radius: 0px;
  width:70vw;
}

.hint-button{
  background: hsl(214, 40%, 40%);
  border:none;
  border-radius:50%;
  height:70px;
  width:70px;
  display:inline-block;
  
}

p{
  font-size:20px;
}


.scroll-card{
  /*Also contains react inline styling*/
  background:white;
  height: 92dvh;
  overflow-y: auto;
  border-radius: 0px;
  border-right: none;
  position: absolute;
}

.scroll-card.expanded {
  width: 12vw;
  z-index:1000;
}

.scroll-card.collapsed {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}

.scroll-collapse{
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  margin: 5px; 
}

.collapse-image{
  height:100%;
  width:100%;
}

.list-container {
  width:60%;
  margin:auto;
}

ul {
  list-style-type: none;
  /*important needed to override bootstrap*/
  padding: 0px !important;
}
.link{
  text-decoration: none;
  font-size: 3dvh;
  color:#4682b4;
}

.quote-circle{
  padding-left: 10px;
  padding-right:10px;
  margin-top: 10px;
  display: flex;
}

.quote-circle-green-half{
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  background: hsl(214, 40%, 40%);
  color:white;
  padding: 10px;
}

.quote-circle-red-half{
  margin-right:10px;
  border: none;
  background: transparent;
  align-items:center;
  float:right;
  height:20px;
  width:20px;
}

.del-button{
  height:25px;
}

.quotes-container{
  width: 30vw;
  display: inline-block;
  background: hsl(214, 40%, 10%);
  height: 92dvh;

}



.quote-bubbles-card{
  height: 75dvh;
  overflow-x: hidden;
}

.quote-buttons{
  display:flex;
  align-items:center;
  margin:auto;
  width:75%;
}

.editpage-div{
  display: flex; 
  height: 92dvh;
  min-width:100vw;
  overflow-y: hidden
}


/*Changes for mobile devices*/
@media (max-width: 768px) {
  
.quote-bubbles-card{
  height: 77dvh;
}
  .question-mark{
    font-size:30px !important;
  }
  h3{
    font-size:20px !important;
  }
  p{
    font-size:15px !important;
  }
  blockquote{
    font-size:15px !important;
  }
  .play-text-card{
    height:94dvh;
    padding-left:20px;
    padding-right:5px;
  }
.editpage-div{
  height:94dvh;
}
  .quote-circle-green-half{
    padding:3px;
  }
  .del-button{
    height:15px;
  }
.quote-buttons{
  display:flex;
  flex-direction: column;
}
.play-button{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px; 
  padding-left:7px;
}

.play-image{
  width: 15px;
  height: 15px;
}
.add-button{
  width: 40px ;
  height:40px ;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
}

.add-image{
  width: 30px ;
  height: 30px;
}

.hint-button{
  width:40px;
  height:40px;
}
.scroll-collapse{
  width:30px;
  height:30px;
}

.scroll-card{
  height:94dvh;
}
.scroll-card.expanded {
    width: 20vw;
    border-right:solid;
    border-width:2px;
    border-color:gray
}

.scroll-card.collapsed {
    width: 20vw;
}


.list-heading{
  margin-left:0px;
  font-weight:bold;
  font-size:20px;
}


.quotes-container{
  width: 35dvw;
  height:94dvh;
}




.quote-bubble-text{
  font-size:13px;
}
.minus-image{
  width: 20px;
  height: 10px;
}

.hint-text{
  font-size:15px;
}


}



/* Tooltip for edit page*/


[data-tooltip] {
  position: relative;

}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px);
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
  top: calc(100% + 5px);
  bottom: auto;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  width: max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(59, 72, 80, 0.9);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, 5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: 5px 5px 0px 5px; 
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
  transform-origin: top;   /* Orientation setting for the
                              slide-down effect */
  transform: translateX(-50%) scaleY(0);
  border-width: 0px 5px 5px 5px;
  border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
  transform-origin: bottom;
}


@media (min-width: 768px) {



/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, 5px) scale(1);
}
/* 
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}

}


@media (max-width: 768px) {
  [data-tooltip]:before {width:90px}
[data-tooltip].clickedTooltip:before,
[data-tooltip].clickedTooltip:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip].clickedTooltip:before {
  transition-delay: 0.3s;
  transform: translate(-50%, 5px) scale(1);
}
/* 
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip].clickedTooltip:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}


}


