
/*Play page*/

.back-button{
    background-color: transparent; 
    border: none;
    display:inline; 
    float:left;
    height:10px;
    width:10px;
    margin-top:2vh;
    margin-left: 10px;
}
.backArrow{
  height:70px;
  width:70px;
}

.game-quote{
    white-space: pre;
    font-size:32px;
}


/*Important is needed to override bootstrap*/
input{
  width:60% !important;
}

.streak{
  height:110px;
  width:110px;
  font-size: 50px;
  margin:auto;
  align-content: center;
  filter: drop-shadow(0 0 15px #4c8cf5)
}

.noWhitespace{
    white-space: pre;
    width:100%;
    font-size:30px;      
}
.randomq-div{
  height:250px;
}
@media (max-width: 768px) {
  .randomq-div{
  height:210px;
}
.streak{
  height:70px;
  width:70px;
  font-size: 35px;
  }
input{
  width:90% !important;
}
.noWhitespace{
    font-size:12px;


}
 
.back-button{
  margin-left:0
}
.link{
  font-size:15px;
  margin-left:-5px;
  font-size:12px;
}


.backArrow{
  height:40px;
  width:40px;
}
}


